.jumbotron {
  background: gold;
  color: #FAFAFA;
  text-align: center;
}

.jumbotron h1 {
  font-family: monospace;
}

.hidden {
  display: none;
}

#gameDone {
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: red;
}

#newgame {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: red;
}

#cat {
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: red;
}

.center {
  margin: auto;
  width: 100%;
  height: 100%;
}

.test {
  border: 1px solid green;
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}

tr {
  height: 100px;
  padding: 0;
  margin: 0;
}

td {
  width: 100px;
  padding: 0;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
}

td button {
  color: red;
  font-size: 96px;
  font-family: monospace;
  height: 95px;
  width: 98px;
  outline: none;
  border: 0;
  padding: auto;
  margin: auto;
  box-shadow: 0;
  background: inherit;
  line-height: 0px;
}

#tl {
  border-right: 4px solid gold;
  border-bottom: 4px solid gold;
}

#tr {
  border-left: 4px solid gold;
  border-bottom: 4px solid gold;
}

#mc {
  border: 4px solid gold;
}

#bl {
  border-right: 4px solid gold;
  border-top: 4px solid gold;
}

#br {
  border-left: 4px solid gold;
  border-top: 4px solid gold;
}
